{% extends 'base.html' %} {% block content %}
        <main class="background">
            <div>
                <h1>Create Task</h1>
                <form method="post">
                    {% comment %} makes an HTTP POST because of method = "post" {% endcomment %}
                    {% csrf_token %} {% comment %} security stuff, just add it, idk {% endcomment %}
                    {{ form.as_p }} {% comment %} form is the "KEY" from context which is obviously the form, .as_p wraps the html in a <p> tag, look it up, kinda confusing  {% endcomment %}
                    <button class='create' class='buttonglow'>Create</button>
                </form>
            </div>
        </main>

{% endblock content %}
