* {
    box-sizing: border-box;
}

/* html {
    background-image: url(https://i.imgflip.com/5athjl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: auto;
} */

nav {
    background-color: rgba(28, 17, 227, 0.516);
    border-bottom: black 4px;
    padding: 2px;


}

a {
    text-decoration: none;
    color: rgba(rgb(2, 2, 27), green, blue, alpha);
    padding-left: 10px;
    font-size: larger;

}

a:visited {
    color: rgb(100, 20, 175)
}

header {
    padding-bottom: 18px;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
}


.log {
    position: relative;
    right: 0px;
    left: 1070px
}

main {
    padding-top: 20px;
    text-align: center;
    height: 600px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}



th {
    left: 0px;
    border-bottom: black 1px solid;
}

tbody {
    border: black 1px solid;
}

.background {
    background-image: url(https://i.imgflip.com/5athjl.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100px;
}

.create {
    margin-top: 55px;
    margin-right: 35px;
}

.buttonglow {
    background-color: antiquewhite;
    border: solid 1px whitesmoke;

}

button:hover {
    box-shadow: 0px 0px 40px 20px yellow;
}

.backmain {
    background-image: url(https://cdn.hovia.com/app/uploads/Blue-Illustrated-Landscape-Mountains-Wallpaper-Mural.jpg);
}

.padleft {
    margin-right: 35px;
}

td,
th {
    padding: 5px;

}

td {
    border-bottom: solid 1px black;
}
