{% load static %}

<!DOCTYPE html>
<html lang="en" class='backmain'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}"/>
    </head>
    <body>
        <header>
            <nav>
                {% comment %} <ul> {% endcomment %}
                    {% if user.is_authenticated %}
                        {% comment %} <li> {% endcomment %}
                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                        {% comment %} </li>
                        <li> {% endcomment %}
                            <a href="{% url 'list_projects' %}">My projects</a>
                        {% comment %} </li>
                        <li> {% endcomment %}
                            <a class='log' href="{% url 'logout' %}">Logout</a>
                        {% comment %} </li> {% endcomment %}
                    {% else %}
                        {% comment %} <li> {% endcomment %}
                            <a href="{% url 'login' %}">Login</a>
                        {% comment %} </li>
                        <li> {% endcomment %}
                            <a href="{% url 'signup' %}">Signup</a>
                        {% comment %} </li> {% endcomment %}
                    {% endif %}
                {% comment %} </ul> {% endcomment %}
            </nav>
        </header>
        {% block content %} {% endblock content %}
    </body>
    </html>
