{% extends 'base.html'%} {% block content %}
        <main class='background'>
            <div>
                <h1>Create a new project</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class='buttonglow padleft'>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
{% endblock content %}
