{% extends 'base.html' %} {% block content %}
        <main >
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href={% url 'create_project' %}>Create a project</a>
                </p>
                {% if not list_projects %}
                    <p>You are not assigned to any projects</p>
                {% else %}
                    <table class='center'>
                        <thead>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </thead>
                        <tbody>
                            {% for project in list_projects  %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}"> {{ project.name }}
                                        </td>
                                    </a>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
{% endblock content %}
